<!-- article新增页面 -->
<div class="m-articleadd">
    <div class="panel panel-default">
        <div class="panel-heading">新增Article</div>
        <div class="table-responsive">
            <form  name ="articleform">
                <div class="form-group clearfix">
                    <label class="col-md-2 control-label" >标题名称</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="title" ng-model ="vm.adddata.title"  required="">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-md-2 control-label" >类 型</label>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="vm.adddata.type"  required="">
                            <option value="">请选择</option>
                            <option value="0">首页Banner</option>
                            <option value="1">找职位Banner</option>
                            <option value="2">找精英Banner</option>
                            <option value="3">行业大图</option>
                        </select>
                    </div>
                    <div class="col-md-2" ng-if="vm.adddata.type == 3">
                        <select class="form-control" ng-model="vm.adddata.industry"   required="">
                        <option value="">请选择</option>
                        <option value="0">移动互联网</option>
                        <option value="1">电子商务</option>
                        <option value="2">企业服务</option>
                        <option value="3">020</option>
                        <option value="4">教育</option>
                        <option value="5">金融</option>
                        <option value="6">游戏</option>
                    </select>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <label class="col-md-2 control-label">说 明</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" ng-model="vm.adddata.content">
                    </div>
                </div>

                <div class="form-group clearfix">
                    <label class="col-md-2 control-label">跳转链接</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" ng-model="url"  required="">
                    </div>
                </div>
                <upload-img label-name="配图"  file-item="vm.adddata.img">
                </upload-img>
                <div class="form-group clearfix">
                    <button type="button" class="btn btn-success" ng-disabled="!articleform.$valid"  ng-click="vm.articleadd(2)">立即上线
                    </button>

                    <button type="button" class="btn btn-success" ng-disabled="!articleform.$valid" ng-click="vm.articleadd(1)">存为草稿
                    </button>
                    <!--<span class="text-red" ng-show="!vm.vaidShow">请补全信息</span>-->
                    <button type="button" class="btn btn-default pull-right" ui-sref="app.article">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>