<!-- article管理页面 -->
 <div class="panel panel-default">
     <form>
         <div class="panel-body m-article">
             <div class="col-md-4">
                 <div class="input-group">
                     <span class="input-group-addon ui-bs" >发布时间</span>
                     <datepicker data ="vm.startdata" class="pull-left" ></datepicker>
                 </div>
             </div>
             <!--<div style="float: left; line-height: 30px;font-size: xx-large;">-</div>-->
             <div class="col-md-4">
                 <div class="input-group">
                     <span class="input-group-addon ui-bs" >截至时间</span>
                     <datepicker class="pull-left" ng-model="vm.startdata" data = 'vm.enddata'></datepicker>
                 </div>
             </div>
             <div class="col-md-4">
                 <div class="input-group">
                     <span class="input-group-addon"  >类型{{vm.arcitle.type}}</span>
                     <select class="form-control" ng-model="vm.arcitle.type">
                         <option value="">全部</option>
                         <option value="0">首页Banner</option>
                         <option value="1">找职位Banner</option>
                         <option value="2">找精英Banner</option>
                         <option value="3">行业大图</option>
                     </select>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="input-group">
                     <span class="input-group-addon">状态{{vm.arcitle.status}}</span>
                     <select class="form-control" ng-model="vm.arcitle.status">
                         <option value="">全部</option>
                         <option value="2">上线</option>
                         <option value="1">草稿</option>
                     </select>
                 </div>
             </div>
             <div class="col-md-3 col-md-offset-6">
                 <button type="button" class="btn btn-danger" ng-click="vm.clean()">清空</button>
                 <button type="button" class="btn btn-success" ng-click="vm.search()">搜索</button>
             </div>
         </div>
     </form>
 </div>
<!-- article列表 -->
<div class="panel panel-default">
    <div class="panel-heading">Article列表</div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>类型</th>
                <th>发布时间</th>
                <th>修改时间</th>
                <th>发布者</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="data in vm.arcitledata">
                <td>{{data.id}}</td>
                <td>{{data.title}}</td>
                <td>{{data.type|articleFilter:'type'}}</td>
                <td>{{data.createAt| date:'yyyy-MM-dd HH:mm:m'}}</td>
                <td>{{data.updateAt| date:'yyyy-MM-dd HH:mm:m'}}</td>
                <td>{{data.author}}</td>
                <td>{{data.status|articleFilter:'status'}}</td>
                <td>
                    <my-modeal ng-model="articlemodel.html" ng-model2="articlemodel2.html" operation= "vm.stastus" info = 'vm.articleinfo'
                    ></my-modeal>
                    编辑 删除
                </td>
            </tr>
        </table>
    </div>
</div>
<mypagintion total='vm.totalItems'></mypagintion>

<my-modeal ng-model="articlemodel.html" ng-model2="articlemodel2.html" operation= "vm.stastus"></my-modeal>

<!--
<div ng-controller="ModalDemoCtrl">
    &lt;!&ndash; 这里就是控制器的内容 ,然后直接在控制器里面插入modal的页面元素&ndash;&gt;
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">操作提示</h3>
        </div>
        <div class="modal-body" style="text-align: center;">
            <p>下线后该图片将不展示站轮播banner中。</p>
            <strong style="font-size: 18px;">是否执行下线操作？</strong>
&lt;!&ndash;            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>&ndash;&gt;
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">确定</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
    <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>-->
