<div class="container-fluid m-companylist-wrap ">
    <div class="panel panel-default clearfix">
        <div class="panel-heading">
            详细信息
            <select ng-model="vm.xx1" class="btn btn-xs pull-right" ng-options="items.type as items.name for items in vm.joblisttype.approvedtype"></select>
        </div>
        <form name='companyData' class="form-inline" novalidate="novalidate">
            <div class="row f-rowfix">
                <div class="form-group col-md-6 col-xs-12">
                    <label>*公司名称：</label>
                    <input type="text" class="form-control" ng-model='vm.companyName' name='companyName' required>
                    <div class="f-help" ng-messages="companyData.companyName.$error" ng-if="companyData.companyName.$touched">
                        <span ng-message="required">请填写公司名称</span>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>*公司slogan：</label>
                    <input type="text" class="form-control" ng-model='vm.companySlogan' name="companySlogan" required>
                    <div class="f-help" ng-messages="companyData.companyName.$error" ng-if="companyData.companySlogan.$touched">
                        <span ng-message="required">请填写公司slogan</span>
                    </div>
                </div>
            </div>
            <div class="row f-rowfix">
                <div class="form-group col-md-6 col-xs-12">
                    <label>*公司人数：</label>
                    <input type="text" class="form-control" ng-model='vm.companyNum' name="companyNum" ng-pattern="/^[\d]+$/" required>
                    <div class="f-help" ng-messages="companyData.companyNum.$error" ng-if="companyData.companyNum.$touched">
                        <span ng-message="required">请填写公司人数</span>
                        <span ng-message="pattern">请输入数字</span>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>*融&nbsp;资&nbsp;规&nbsp;模&nbsp;：</label>
                    <select ng-model="vm.financing" ng-options='items.type as items.name for items in vm.joblisttype.financingtype' class="form-control">
                    </select>
                </div>
            </div>
            <div class="row f-rowfix">
                <div class="form-group m-companylist_city col-md-12">
                    <label for="">*地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：</label>
                    <citychoose province-num="vm.creatData.province" city-num="vm.creatData.city" county-num="vm.creatData.county"></citychoose>
                </div>
            </div>
            <div class="row f-rowfix">
                <div class="form-group m-companylist_city col-md-12">
                    <label for="">*公司标签：</label>
                    <div     style="display: inline-block"
                             isteven-multi-select
                             input-model="vm.industryData"
                             output-model="vm.output"
                             button-label="name"
                             item-label="name"
                             tick-property="ticked"     >

                    </div>
                </div>
            </div>
            <upload-img label-name="*公司Logo：" file-item="vm.file1"></upload-img>
            <div class="row f-rowfix">
                <div class="form-group m-companylist_city col-md-12">
                    <label for="" >*公司介绍：</label>
                    <textarea class="form-control m-company-textarea" ng-model="companyIntro" name='companyIntro' required></textarea>
                    <div class="f-help" ng-messages="companyData.companyName.$error" ng-if="companyData.companyName.$touched">
                        <span ng-message="required">请填写公司详细信息</span>
                    </div>
                </div>
            </div>
            <div class="row f-rowfix">
                <div class="form-group m-companylist_city col-md-12">
                    <label for="" >公司标签：&nbsp;&nbsp;</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="vm.tag">
                        <div class="input-group-addon" ng-click="vm.addTag()">+</div>
                    </div>
                </div>
            </div>
            <div class="row f-rowfix">
                <div class="form-group m-companylist_city col-md-12">
                    <label for="" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <div class="input-group">
                        <div class='m-edicompangy_taglist' ng-repeat="items in vm.taglist">
                            <span>{{ items }}</span>
                            <span class="glyphicon glyphicon-remove" ng-click="vm.deleteTag($index)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            公司产品
        </div>
        <form action="" class="form-inline">
            <div class="row f-rowfix">
                <div class="form-group col-md-6 col-xs-12">
                    <label>产品名称：</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>产品slogan：</label>
                    <input type="text" class="form-control">
                </div>
            </div>
                <upload-img label-name="产品Logo:" file-item="vm.file2"></upload-img>
            <div class="row f-rowfix">
                <div class="form-group col-md-12 col-xs-12">
                    <label>产品简介：</label>
                    <textarea class="form-control m-company-textarea"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            招聘公司相关信息
        </div>
        <form action="" class="form-inline">
            <div class="row f-rowfix">
                <div class="form-group col-md-6 col-xs-12">
                    <label>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</label>
                    <input type="tel" class="form-control">
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</label>
                    <input type="email" class="form-control">
                </div>
            </div>
            <div class="row f-rowfix">
                <div class="form-group col-md-12 col-xs-12">
                    <label>详细地址：</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <upload-img label-name="地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图：" file-item="vm.file3"></upload-img>
        </form>
    </div>
    <div class="m-companylist_btngroup">
        <button class="btn btn-small btn-warning" type="button" ng-disabled="companyData.$invalid||!vm.creatData.province||!vm.outpu">保存</button>
        <button class="btn btn-small btn-success" type="button" ng-click="vm.test()">取消</button>
    </div>
</div>