<div class="container-fluid m-companylist-wrap ">
    <div class="panel panel-default clearfix">
        <div class="panel-heading">
            <span ng-show="vm.searchid">{{ vm.data.company.name }}详细信息</span>
            <span ng-show="!vm.searchid">详细信息</span>
            <select ng-model="vm.data.company.approved" class="btn btn-xs pull-right" ng-options="items.type as items.name for items in vm.joblisttype.approvedtype">
            </select>
        </div>
        <form name='companyData' class="form-inline" novalidate="novalidate">
            <div class="row f-rowfix">
                <div class="form-group col-md-6 col-xs-12">
                    <label>*公司名称：</label>
                    <input data-set type="text" class="form-control" ng-model='vm.data.company.name' name='companyName' required>
                    <div class="f-help" ng-messages="companyData.companyName.$error" ng-if="companyData.companyName.$touched">
                        <span ng-message="required">请填写公司名称</span>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>*公司slogan：</label>
                    <input data-set type="text" class="form-control" ng-model='vm.data.company.slogan' name="companySlogan" required>
                    <div class="f-help" ng-messages="companyData.companyName.$error" ng-if="companyData.companySlogan.$touched">
                        <span ng-message="required">请填写公司slogan</span>
                    </div>
                </div>
            </div>
            <div class="row f-rowfix">
                <div class="form-group col-md-6 col-xs-12">
                    <label>*公司人数：</label>
                    <input data-set type="text" class="form-control" ng-model='vm.data.company.totalNum' name="companyNum" ng-pattern="/^[\d]+$/" required>
                    <div class="f-help" ng-messages="companyData.companyNum.$error" ng-if="companyData.companyNum.$touched">
                        <span ng-message="required">请填写公司人数</span>
                        <span ng-message="pattern">请输入数字</span>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>*融&nbsp;资&nbsp;规&nbsp;模&nbsp;：</label>
                    <select data-set ng-model="vm.data.company.financing" ng-options='items.type as items.name for items in vm.joblisttype.financingtype' class="form-control">
                    </select>
                </div>
            </div>
            <div class="row f-rowfix">
                <div class="form-group m-companylist_city col-md-12">
                    <label for="">*地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：</label>
                    <!--三级联动-->
                    <citychoose province-num="vm.data.company.province" city-num="vm.data.company.city" county-num="vm.data.company.county"></citychoose>
                </div>
            </div>
            <div class="row f-rowfix">
                <div class="form-group m-companylist_city col-md-12">
                    <!--这个东西在后面需要自己添加，初始给它一个空的值，然后再赋值给对象中的一个参数-->
                    <label for="">*行&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业：</label>
                    <div     style="display: inline-block"
                             isteven-multi-select
                             input-model="vm.industryData"
                             output-model="vm.output"
                             button-label="name"
                             item-label="name"
                             on-close="vm.changeIndustry()"
                             tick-property="choose">

                    </div>
                </div>

            </div>
            <!--公司logo上传-->
            <upload-img label-name="*公司Logo：" file-item="vm.data.company.logo"></upload-img>
            <div class="row f-rowfix">
                <div class="form-group m-companylist_city col-md-12">
                    <label for="" >*公司介绍：</label>
                    <textarea data-set class="form-control m-company-textarea" ng-model="vm.data.company.summary" name='companyIntro' required></textarea>
                    <div class="f-help" ng-messages="companyData.companyName.$error" ng-if="companyData.companyName.$touched">
                        <span ng-message="required">请填写公司详细信息</span>
                    </div>
                </div>
            </div>
            <div class="row f-rowfix">
                <div class="form-group m-companylist_city col-md-12">
                    <label for="" >公司标签：&nbsp;&nbsp;</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="vm.tag">
                        <div class="input-group-addon" ng-click="vm.addTag()">+</div>
                    </div>
                </div>
            </div>
            <div class="row f-rowfix">
                <div class="form-group m-companylist_city col-md-12">
                    <label for="" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <div class="input-group">
                        <div class='m-edicompangy_taglist' ng-repeat="items in vm.data.tagList">
                            <span>{{ items.tag }}</span>
                            <span class="glyphicon glyphicon-remove" ng-click="vm.deleteTag($index)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            公司产品
        </div>
        <form action="" class="form-inline">
            <div class="row f-rowfix">
                <div class="form-group col-md-6 col-xs-12">
                    <label>产品名称：</label>
                    <input data-set ng-model="vm.productList.name" type="text" class="form-control">
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>产品slogan：</label>
                    <input data-set ng-model="vm.productList.slogan" type="text" class="form-control">
                </div>
            </div>
                <upload-img label-name="产品Logo:" file-item="vm.productList.logo"></upload-img>
            <div class="row f-rowfix">
                <div class="form-group col-md-12 col-xs-12">
                    <label>产品简介：</label>
                    <textarea data-set ng-model="vm.productList.summary" class="form-control m-company-textarea"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            招聘公司相关信息
        </div>
        <form action="" class="form-inline">
            <div class="row f-rowfix">
                <div class="form-group col-md-6 col-xs-12">
                    <label>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</label>
                    <input data-set ng-model="vm.data.company.phone" type="tel" class="form-control">
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</label>
                    <input data-set ng-model="vm.data.company.mail" type="email" class="form-control">
                </div>
            </div>
            <div class="row f-rowfix">
                <div class="form-group col-md-12 col-xs-12">
                    <label>详细地址：</label>
                    <input data-set ng-model="vm.data.company.address" type="text" class="form-control">
                </div>
            </div>
            <upload-img label-name="地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图：" file-item="vm.data.company.map"></upload-img>
        </form>
    </div>
    <div class="m-companylist_btngroup">
        <button class="btn btn-small btn-warning" ng-click="vm.creatCompany()" type="button" ng-disabled="companyData.$invalid||!vm.data.company.county||!vm.data.company.logo||!vm.data.tagList">保存</button>
        <button class="btn btn-small btn-success" type="button" ng-click="vm.test()" ui-sref="field.companyList	">取消</button>
    </div>
</div>