<div class="container-fluid m-companylist-wrap ">
    <div class="panel panel-default clearfix" ng-hide="vm.companyName">
        <form action="" class="form-inline">
            <div class="row f-rowfix">
                <div class="form-group col-md-4 col-xs-12">
                    <label>在招公司：</label>
                    <input data-set ng-model="vm.jobListData.companyName" type="text" class="form-control">
                </div>
                <div class="form-group col-md-4 col-xs-12">
                    <label>职位名称：</label>
                    <input data-set ng-model="vm.jobListData.name" type="text" class="form-control">
                </div>
                <div class="form-group col-md-4 col-xs-12">
                    <label for="">工作经验：</label>
                    <select data-set ng-model="vm.jobListData.experience" ng-options="items.type as items.name for items in vm.joblisttype.experiencetype" class="form-control">
                        <option value="">全部</option>
                    </select>
                </div>
            </div>
            <div class="row f-rowfix m-joblist-time">
                <div class="form-group col-md-4 ">
                    <label >发布时间：</label>
                    <datepicker  data="vm.jobListData.startAt"></datepicker>
                </div>
                <div class="form-group col-md-4">
                    <label >—&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <datepicker ng-model="vm.jobListData.startAt"  data="vm.jobListData.endAt"></datepicker>
                </div>
                <div class="form-group col-md-4">
                    <label >学历要求：</label>
                    <select data-set ng-model="vm.jobListData.education" class="form-control" ng-options="items.type as items.name for items in vm.joblisttype.educationtype">
                        <option value="">全部</option>
                    </select>
                </div>
            </div>
            <div class="row f-rowfix">
                <div class="form-group col-md-4">
                    <label >职业类别：</label>
                    <select data-set ng-model="vm.jobListData.category" class="form-control" ng-options="items.type as items.name for items in vm.joblisttype.categorytype">
                        <option value="">全部</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label >职业子类：</label>
                    <select data-set ng-model="vm.jobListData.subCategory" class="form-control" ng-options="items.type as items.name for items in vm.joblisttype.subCategorytype">
                        <option value="">全部</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label >薪&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资：</label>
                    <select data-set ng-model="vm.jobListData.compensation" class="form-control" ng-options="items.type as items.name for items in vm.joblisttype.compensationtype">
                        <option value="">全部</option>
                    </select>
                </div>
            </div>
            <div class="row f-rowfix">
                <div class="form-group col-md-4">
                    <label >状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：</label>
                    <select data-set ng-model="vm.jobListData.status" class="form-control" ng-options="items.type as items.name for items in vm.joblisttype.statustype">
                        <option value="">全部</option>
                    </select>
                </div>
            </div>
            <div class="m-companylist_btngroup">
                <button class="btn btn-small btn-warning" type="button" ng-click="vm.clear()">清空</button>
                <button class="btn btn-small btn-success" type="button" ng-click="vm.pagingdata()">搜索</button>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ vm.companyName }}职位列表
            <button  ng-show="vm.companyName&&modelright.create" class="btn btn-xs btn-primary pull-right" ui-sref="field.jobEdit({companyId:vm.searchId,companyName:vm.companyName})">新增</button>
        </div>
        <div class="panel-body m-companylist-text">
            <table class="table table-striped f-table_border m-jobtable-width">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>在招公司</th>
                    <th>职位名称</th>
                    <th>职业类别</th>
                    <th>薪资</th>
                    <th>学历要求</th>
                    <th>工作经验</th>
                    <th>发布时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="items in vm.jobListContent" >
                    <td>{{ $index+1 }}</td>
                    <td>{{ items.companyName }}</td>
                    <td>{{ items.name }}</td>
                    <td>{{ items.category|changeJobListName:'subCategorytype' }}</td>
                    <td>{{ items.compensation|changeJobListName:'compensationtype' }}</td>
                    <td>{{ items.education|changeJobListName:'educationtype' }}</td>
                    <td>{{ items.experience|changeJobListName:'experiencetype' }}</td>
                    <td>{{ items.updateAt|date:'yyyy-MM-dd' }}</td>
                    <td>{{ items.status|changeJobListName:'statustype' }}</td>
                    <td>
                        <a use-modal ctr-fn="vm.changeDataFn()" ctrclick="vm.getData(this)" ng-if="items.status===1" class="btn btn-sm">下架</a>
                        <a use-modal ctr-fn="vm.changeDataFn()" ctrclick="vm.getData(this)" ng-if="items.status===0" class="btn btn-sm">上架</a>
                        <a ng-show="modelright.update" class="btn btn-sm" ui-sref="field.jobEdit({id:items.id,companyId:items.companyId,companyName:vm.companyName})">编辑</a>
                        <a ng-show="modelright.delete" use-modal ctr-fn="vm.changeDataFn()" ctrclick="vm.getDeleteData(this)" class="btn btn-sm" ng-click="vm.getDeleteData(this)">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <mypagintion total="vm.totalItems"></mypagintion>
            </div>
        </div>
    </div>
</div>