<div class="modal-header">
    <h3 class="modal-title">操作提示</h3>
</div>
<div class="modal-body" style="text-align: center;">
    <p>{{items[0]}}</p>
    <strong style="font-size: 18px;">{{items[1]}}</strong>
    <!--            <ul>
                    <li ng-repeat="item in items">
                        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ selected.item }}</b>-->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">确定</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>