<!-- 日期插件 -->
<!--<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>-->
<input type="text" class="form-control ui-bs" uib-datepicker-popup ng-model="dt"
       is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" clear-text="清除" current-text ="今天" close-text="关闭" />
<span class="input-group-btn ui-bs">
    <button type="button" class="btn btn-default ui-bs" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
</span>
<!--<button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
<button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
<button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
<button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>-->
