/* 公司信息页面 */

.container {
  max-width: 1250px;
}
body {
  background: #f6f7f8;
}
/* 公司tt */
.m-companyinfott {
  background: #fff;
  margin-top:20px;
  .imgwrap {
    height:200px;
    border: 1px solid #e8e8e8;
    background: #fff;
  }
}

.m-companyinfott-info{
  h1 {
    display: inline-block;
    padding-right: 10px;
    font-size: 20px;
  }
  small {
    display: inline-block;
    padding: 8px 15px;
    font-size: 14px;
    background: #fc2b47;
    border-radius: 15px;
    color: #fff;
  }
  p {
    padding: 10px 0;
  }
}

/* 公司详细信息 */
.m-companyinfo-wrap {
  padding: 15px;
  margin-top:20px;
  background: #fff;
  h3 {
    padding-left: 5px;
    font-weight: bold;
  }
}



/* 公司信息切换 */
.m-companyinfo-switch {
  h2 {
    display: inline-block;
    height:50px;
    line-height: 50px;
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
  }
  h2.active {
    font-weight: bold;
    border-bottom: 3px solid #fc2b47;
  }
}

/* 公司介绍 */
.m-companyinfo-brief {

}
/* 侧边红边框 */
.redborder {
  border-left: 3px solid #fc2b47;
}
.m-companyinfo-brief-bd {
  .img-wrap  {
    position: relative;
    height:200px;
    border: 1px solid #e8e8e8;
    background: #fff;
  }
}
/* 公司在找职位 */
.m-companyinfo-job {

}