body {
  background: #f6f7f8;
}
.container {
  max-width: 1250px;
}
@media (min-width: 1250px) {
  .container {
    width: 1250px;
  }
}
/* 导航栏 */
.m-jobnav-wrap {
  margin-top: 20px;
  padding-right: 0;
  padding-left: 0;
}
@media (max-width: 992px) {
  .m-jobnav-wrap {
    display: none;
  }
}
.m-jobnav {
  position: relative;
}
.m-jobnav:hover .m-jobsnav {
  display: block;
}
.m-jobnav .navtt {
  font-size: 18px;
}
i[class^="icon-jobnav icon-zzz-"] {
  margin-right: 10px;
}
.m-jobnav-list {
  width: 100%;
  height: 150px;
  padding: 8px 30px 8px 10px;
  color: #fff;
  background: #f43851;
}
.m-jobnav-list.active {
  background: #fff;
  border-top: 1px solid #f43851;
  border-bottom: 1px solid #f43851;
  color: #f43851;
}
.m-jobnav-list li {
  float: left;
  padding: 7px 12px;
  cursor: pointer;
}
/* 子导航栏 */
.m-jobsnav {
  position: absolute;
  top: 0;
  right: -600px;
  width: 600px;
  height: 450px;
  padding: 20px 0 30px 40px;
  background: #fff;
  display: none;
  z-index: 1000;
  border: 1px solid #fc2b47;
  border-left-width: 0;
}
.m-jobsnav span {
  display: inline-block;
  color: #fc2b47;
  font-size: 16px;
  margin: 10px 10px 10px 0;
  text-align: right;
  width: 60px;
}
.m-jobsnav.jobsnav2 {
  top: -150px;
}
.m-jobsnav.jobsnav3 {
  top: -300px;
}
.m-jobsnav .breadcrumb {
  display: inline-block;
  margin-bottom: 10px;
}
.m-jobsnav .breadcrumb li {
  cursor: pointer;
  padding: 0 10px;
}
.m-jobsnav .breadcrumb li:nth-child(n+2) {
  border-left: 1px solid #eee;
}
.m-jobsnav .breadcrumb > li + li:before {
  padding: 0;
  content: "";
}
/* 搜索轮播 */
.m-jobfocus {
  position: relative;
  margin-top: 20px;
  /* 此处覆盖了原本col的padding */
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 992px) {
  .m-jobfocus {
    padding-left: 15px;
  }
}
/* 轮播 */
.m-jobfocus-wrap {
  overflow: hidden;
}
.m-jobfocus-wrap img {
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  .m-jobfocus-wrap {
    height: 450px;
  }
  .m-jobfocus-wrap img {
    min-height: 450px;
  }
}
.m-jobfocus .carousel-control {
  opacity: 1;
}
.m-jobfocus .carousel-control .glyphicon-chevron-left,
.m-jobfocus .carousel-control .glyphicon-chevron-right {
  height: 40px;
}
.m-jobfocus .glyphicon-chevron-left:before,
.m-jobfocus .glyphicon-chevron-right:before {
  content: " ";
}
.m-jobfocus .glyphicon-chevron-left {
  background: url("../img/job/pre-2.png") no-repeat;
}
.m-jobfocus .glyphicon-chevron-right {
  background: url("../img/job/next-2.png") no-repeat;
}
/* 搜索框 */
.m-seach.input-group {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  z-index: 900;
  margin-left: -15px;
  padding: 18px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.m-seach.input-group span,
.m-seach.input-group input {
  padding: 11px 20px;
}
.m-seach.input-group input {
  height: 44px;
  border-left: 0;
  border-right: 0;
}
@media (max-width: 768px) {
  .m-seach.input-group {
    padding: 0;
    margin-left: 0;
  }
  .m-seach.input-group span,
  .m-seach.input-group input {
    padding: 11px 8px;
  }
}
.m-seach-itps {
  background: #fff;
  color: #536a82;
  font-weight: bold;
}
.m-seach-btn {
  background: #fc2b47;
  color: #fff;
  border-color: #fc2b47;
  cursor: pointer;
}
/* 推荐公司/推荐职位tt */
.m-jobtt {
  padding-left: 20px;
}
.m-jobtt h3 {
  padding-right: 20px;
  font-weight: bold;
  cursor: pointer;
}
.m-jobtt h3.noactive {
  font-weight: 400;
  font-size: 13px;
  margin: 23px 0 0;
}
.m-jobtt a {
  display: inline-block;
  margin: 20px 0 10px;
  padding-right: 20px;
  color: #000;
}
/* 推荐职位 */
.m-rmjob {
  padding: 30px 0 10px;
  background: #fff;
}
.m-rmjob-wrap {
  padding: 10px;
  margin: 0 -5px 20px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}
.m-rmjob-wrap .img-wrap {
  width: 110px;
  height: 130px;
  padding: 5px;
  margin-right: 30px;
  border: 1px solid #e8e8e8;
}
.m-rmjob-wrap .img-wrap img {
  position: relative;
  top: 50px;
  transform: translateY(-50%);
}
.m-rmjob-wrap:hover {
  cursor: pointer;
  box-shadow: 0 0 7px #DAE0E3;
  border: solid 1px #f5f5f5;
}
.m-rmjob-info {
  padding: 10px 0;
  height: 130px;
  overflow: hidden;
}
.m-rmjob-info span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  padding: 10px 0;
  color: #536a82;
}
.m-rmjob-info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999;
}
.m-rmjob-info p strong {
  color: #FC3652;
}
.m-rmjob-info h5 {
  color: #2d3e50;
  font-size: 16px;
  font-weight: bold;
}
/* 推荐公司 */
.m-rmcompany {
  padding: 30px 0;
  background: #fff;
}
.m-rmcompany-rigth {
  position: relative;
}
.m-rmcompany-info {
  position: absolute;
  left: 30px;
  bottom: 15px;
  color: #fff;
}
/* 公司小图标和公司列表复用 */
.m-companyicon {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.m-companyicon > li {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.m-companyicon .breadcrumb {
  display: inline-block;
  margin-bottom: 0px;
  background: #fafafa;
  padding: 0;
}
.m-companyicon .breadcrumb li {
  padding: 0;
}
/*Y轴轮播部分*/
/* 轮播 */
/*设置轮播样式*/
.cort-ctl {
  cursor: pointer;
}
.cort-ctl .carousel-control.left {
  display: none;
}
.cort-ctl .carousel-control.right {
  display: none;
}
.cort-ctl .carousel-indicators {
  right: 5%;
  width: 3%;
  left: inherit;
}
.cort-ctl .carousel-indicators li {
  border: 1px solid #e8e8e8;
  display: inherit;
  width: 12px;
  line-height: 12px;
  margin-top: 12px;
}
.cort-ctl .carousel-indicators .active {
  background-color: red;
}
.cort-ctl .m-slidebar_text {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 990px) {
  .cort-ctl .carousel-indicators {
    display: none;
  }
  .cort-ctl .img-wrap {
    display: none;
  }
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .cort-ctl .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .cort-ctl .carousel-inner > .item.next,
  .cort-ctl .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .cort-ctl .carousel-inner > .item.prev,
  .cort-ctl .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  .cort-ctl .carousel-inner > .item.next.left,
  .cort-ctl .carousel-inner > .item.prev.right,
  .cort-ctl .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.m-recompany_sliderSt {
  margin-top: 20px;
}
.m-recompany_slider {
  margin: 0;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}
.m-recompany_slider .carousel-control {
  display: none;
}
.m-recompany_slider h2 {
  font-weight: bold;
}
.m-recompany_slider .img-wrap {
  height: 100px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  background: #fff;
  position: relative;
}
.m-recompany_slider .img-wrap img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.m-recompany_sliderL {
  padding: 20px 0 20px 10px;
  text-align: left;
}
.m-recompany_sliderR {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  border-left: 1px solid #e8e8e8;
}
.m-recompany_sliderR h2 {
  margin-top: 25px;
  margin-bottom: 35px;
  text-align: left;
}
.m-recompany_sliderR p {
  padding-bottom: 30px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-recompany_sliderR span:nth-child(n+2) {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #e8e8e8;
}
.m-recompany_sliderS {
  padding: 10px 0 10px 10px;
}
.m-recompany_tag {
  display: inline-block;
  border: 1px solid #e8e8e8;
  width: 85px;
  text-align: center;
  color: #536a82;
  margin-right: 20px;
}
.m-rmcompany-left .img-wrap {
  height: 100px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  background: #fff;
  margin-bottom: 15px;
}
.m-rmcompany-left .img-wrap img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
@media (max-width: 768px) {
  .m-rmcompany-left .img-wrap {
    margin: 15px;
  }
}
/* 找职业位图 */
.m-jobbitmap {
  margin-top: 20px;
  padding: 0 300px 0 220px;
  background: #fff;
}
.m-jobbitmap > div {
  height: 300px;
  padding: 50px 15px 30px;
}
.m-jobbitmap .img-wrap {
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .m-jobbitmap {
    padding: 0 30px 0 20px;
  }
  .m-jobbitmap > div {
    height: 200px;
    padding: 20px 15px 10px;
  }
}
/* 底部焦点图 */
.m-jobarticle {
  width: 100%;
  margin-top: 20px;
  max-height: 400px;
  overflow: hidden;
}
.m-jobarticle img {
  width: 100%;
}
/* 公司列表页面 */
.m-companylist {
  background: #fff;
  margin: 20px 0;
  /* 搜索为空时推荐职位tab样式 */
}
.m-companylist .m-rmjob-wrap {
  padding: 10px;
  margin: 20px 0;
}
.m-companylist .m-rmjob-wrap .img-wrap {
  height: 110px;
}
.m-companylist .m-rmjob-info {
  height: 110px;
  margin-bottom: 15px;
}
.m-companylist .m-companyicon {
  background: #fafafa;
  color: #999;
  margin: 0 -10px -10px;
  padding: 10px 20px;
  border-radius: 3px;
}
.m-companylist .m-rmjob h3 {
  padding-left: 15px;
  font-size: 18px;
  margin: 0;
}
.m-companylist .m-rmjob h5 {
  margin-top: 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 职业列表页面 */
.m-joblist {
  /* 搜索为空时推荐职位tab样式 */
}
.m-joblist .m-nodata {
  margin: 20px 15px 0 ;
}
.m-joblist .m-rmjob {
  margin: 0 15px;
}
.m-joblist .m-rmjob h3 {
  padding-left: 15px;
  font-size: 18px;
  margin-top: 0;
}
.m-joblist .m-rmjob h5 {
  margin-top: 0;
}
.m-joblist-wrap {
  padding: 10px;
  margin: 20px 15px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.m-joblist-wrap:hover {
  cursor: pointer;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
.m-joblist-wrap a {
  color: #2d3e50;
}
.m-joblist-wrap .breadcrumb {
  background: #fff;
}
.m-joblist-righ,
.m-joblist-left {
  margin: 10px 0;
}
.m-joblist-right h5 {
  font-weight: bold;
}
.m-joblist-right li {
  color: #536a82;
}
.m-joblist-right .img-wrap {
  width: 110px;
  height: 110px;
  padding: 5px;
  margin-left: 15px;
  border: 1px solid #e8e8e8;
}
.m-joblist-left {
  border-right: 1px solid #e8e8e8;
}
.m-joblist-left h5 {
  font-weight: bold;
}
.m-joblist-left small {
  display: inline-block;
  padding: 10px 0;
  font-size: 14px;
}
.m-joblist-left p {
  font-weight: bold;
  color: #fc2b47;
  margin: 15px 0;
}
.m-joblist-left .breadcrumb {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .m-joblist-left {
    border-right: none;
  }
}
/*搜索
框样
式*/
/*搜索框头部*/
.m-search-title {
  border-bottom: 2px solid #EB5255;
  font-size: 2rem;
  margin-top: 20px;
}
.m-search-title .m-search-title-item {
  display: inline-block;
  padding: 3px 20px;
  cursor: pointer;
  margin: 0;
}
.m-search-title .active {
  background-color: #EB5255;
  color: #fff;
}
/*搜索框主要*/
.m-search-panel {
  background-color: #fff;
  margin-top: 20px;
  padding: 15px 20px;
}
.m-search-panel .control-label {
  padding-top: 3px;
  text-align: inherit;
}
.m-search-panel .form-control {
  width: 40%;
}
.m-search-panel ul {
  display: inline-block;
  padding-left: 0;
}
.m-search-panel ul li {
  display: inline-block;
  padding: 3px 13px;
  cursor: pointer;
}
.m-search-panel ul li:nth-child(n+2) {
  margin-left: 10px;
}
.m-search-panel ul .active {
  background-color: #EB5255;
  color: #fff;
}
/* 公司职位搜索框 */
.m-search-panel.conmpany {
  margin-top: 0;
}
