<!-- 职业列表页面 -->

<div class="container">
    <div class="row">
        <!-- 公司列表 -->
        <div class="m-joblist">
            <div class="m-joblist-wrap clearfix" ng-repeat="data in vm.joblistdata">
                <div class="m-joblist-left col-xs-12 col-sm-6 col-md-6">
                    <h5> <strong>{{data.name}}</strong><small>发布时间：{{data.updateAt| date:'yyyy, MM,dd'}}</small></h5>
                    <p>{{data.compensation}}</p>
                    <ul class="breadcrumb">
                        <li>{{data.county}}</li>
                        <li>{{data.education}}</li>
                        <li>{{data.experience}}</li>
                    </ul>
                </div>

                <div class="m-joblist-right col-xs-12 col-sm-6 col-md-6">
                    <div class="img-wrap pull-right">
                        <img src="img/job/zwtab.jpg" alt="">
                    </div>
                    <div class="">
                        <h5>{{data.companyName}}</h5>
                        <ul class="breadcrumb">
                            <li ng-repeat="data in data.industryList">{{data.industry|changeJobListName:'industrytype'}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>