<!--职业搜索页面-->
<div class="container">
    <!--条件筛选列表-->
    <!--头部-->
    <div class="row m-search-title clearfix">
        <p class="m-search-title-item" ui-sref='app.companylist'>公司</p>
        <p class="m-search-title-item active">职业</p>
    </div>
    <!--选项-->
    <!--职业筛选-->
    <div class="row m-search-panel conmpany clearfix">
        <form class="form-horizontal">
            <div class="form-group row">
                <label for="name" class="control-label col-md-1">关&nbsp;键&nbsp;字&nbsp;&nbsp;:</label>
                <input  ng-model="vm.name"  class="col-md-6 form-control" type="text" name="name" id="name" placeholder="请输入职位名，如：前端">
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="">所在地区：</label>
                <ul class="col-md-11">
                    <li search-job multiselect="true"  slectarry="vm.provinceTypeArry"  ng-class="{'active':(items.type|searchPanelChooseFilter:vm.provinceTypeArry)}" ng-repeat="items in vm.searchOption.province"  ng-click="gettype(this)">{{ items.name }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="">职位类别：</label>
                <ul class="col-md-11">
                    <li search-job multiselect='true' slectarry="vm.categeoryTypeArry" ng-repeat="items in vm.searchOption.category" ng-class="{'active':(items.type|searchPanelChooseFilter:vm.categeoryTypeArry)}" ng-click="gettype(this);;vm.clearSubCategory(this)">{{ items.name }}</li>
                </ul>
            </div>
            <div class="form-group" ng-repeat="xx in vm.searchOption.subCategory" ng-if="vm.categeoryTypeArry[0]-1 == $index&&vm.categeoryTypeArry.length==1">
                <label class="control-label col-md-1" for="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <ul class="col-md-11">
                    <li search-job multiselect='true' slectarry="vm.subCategoryTypeArry" ng-repeat="items in xx.data" ng-class="{'active':(items.type|searchPanelChooseFilter:vm.subCategoryTypeArry)}" ng-click="gettype(this)">{{ items.name }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="">所属行业：</label>
                <ul class="col-md-11">
                    <li search-job multiselect='true' slectarry="vm.industryTypeArry" ng-class="{'active':(items.type|searchPanelChooseFilter:vm.industryTypeArry)}" ng-repeat="items in vm.searchOption.industry" ng-click="gettype(this)">{{ items.name }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="">学历要求：</label>
                <ul class="col-md-11">
                    <li search-job multiselect='true' slectarry="vm.educationTypeArry" ng-class="{'active':(items.type|searchPanelChooseFilter:vm.educationTypeArry)}" ng-repeat="items in vm.searchOption.education" ng-click="gettype(this)">{{ items.name }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="">工作经验：</label>
                <ul class="col-md-11">
                    <li search-job multiselect='true' slectarry="vm.experienceTypeArry" ng-class="{'active':(items.type|searchPanelChooseFilter:vm.experienceTypeArry)}" ng-repeat="items in vm.searchOption.experience" ng-click="gettype(this)">{{ items.name }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="">薪资水平：</label>
                <ul class="col-md-11">
                    <li search-job multiselect='true' slectarry="vm.compensationTypeArry" ng-class="{'active':(items.type|searchPanelChooseFilter:vm.compensationTypeArry)}" ng-repeat="items in vm.searchOption.compensation" ng-click="gettype(this)">{{ items.name }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="">发布时间：</label>
                <ul class="col-md-11">
                    <li search-job multiselect='' slectarry="vm.updateAtTypeArry" ng-class="{'active':(items.type|radioFilter:vm.updateAtTypeArry)}" ng-repeat="items in vm.searchOption.updateAt" ng-click="gettype(this)">{{ items.name }}</li>
                </ul>
            </div>
            <!--<div class="form-group">-->
            <!--<label class="control-label col-md-1" for="">学历要求：</label>-->
            <!--<ul class="col-md-11">-->
            <!--<li ng-repeat="items in vm.searchOption.education" ng-click="vm.test()">{{ items.name }}</li>-->
            <!--</ul>-->
            <!--</div>-->
            <ul class="pull-right">
                <li ng-click="vm.clearList()">清空</li>
                <li class='active' ng-click="vm.pagingdata(1)" >搜索</li>
            </ul>
        </form>
    </div>
    <div class="row">
        <!-- 职业列表 -->
        <div class="m-joblist">
            <!-- 搜索为空的页面 -->
            <div ng-show="vm.nodata" style="margin-top: 20px;">
                <div class="m-nodata clearfix">
                    <div class="img-wrap col-xs-12  col-sm-4 col-md-3 col-sm-offset-1 col-md-offset-3">
                        <img src="img/404.png" alt="">
                    </div>
                    <div class="m-nodata-info col-xs-12 col-sm-4 col-md-3">
                        <strong>暂时没有符合搜索条件的内容</strong>
                        <p>请重新修改搜索条件后再次搜索</p>
                    </div>
                </div>
                <!-- 推荐职位 -->
                <div class="m-rmjob clearfix">
                    <h3 >推荐职位</h3>
                    <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="item in vm.newprofessionList" ui-sref="app.jobinfo({id:item.id})">
                        <div class="m-rmjob-wrap">
                            <div class="img-wrap pull-left">
                                <img ng-src="{{ item.logo }}" alt="">
                            </div>
                            <div class="m-rmjob-info">
                                <span>{{ item.compensation|changeJobListName:'compensationtype' }}</span>
                                <p>{{ item.name }}</p>
                                <h5>{{ item.companyName }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-joblist-wrap clearfix" ng-repeat="data in vm.joblistdata">
                <a ui-sref="app.jobinfo({id:data.id})">
                    <div class="m-joblist-left col-xs-12 col-sm-6 col-md-6">
                        <h5> <strong>{{data.name}}({{data.province|provinceFilter}})</strong><small>发布时间：{{data.updateAt| date:'yyyy-MM-dd HH:mm'}}</small></h5>
                        <p>{{data.compensation|changeJobListName:'compensationtype'}}</p>
                        <ul class="breadcrumb">
                            <li>{{data.city|cityFilter}}-{{data.county|countyFilter}}</li>
                            <li>{{data.education|changeJobListName:'educationtype'}}</li>
                            <li>{{data.experience|changeJobListName:'experiencetype'}}</li>
                        </ul>
                    </div>

                    <div class="m-joblist-right col-xs-12 col-sm-6 col-md-6">
                        <div class="img-wrap pull-right">
                            <img src="{{data.logo}}" alt="">
                        </div>
                        <div class="">
                            <h5>{{data.companyName}}</h5>
                            <ul class="breadcrumb">
                                <li ng-repeat="data in data.industryList">{{data.industry|changeJobListName:'industrytype'}}</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <mypagintion total='vm.totalItems'></mypagintion>
    </div>
</div>