<div class="row m-search-panel clearfix">
    <form class="form-horizontal">
        <div class="form-group row">
            <label for="name" class="control-label col-md-1">关&nbsp;键&nbsp;字&nbsp;&nbsp;:</label>
            <input class="col-md-6 form-control" type="text" name="name" id="name" placeholder="请输入公司名字，如：联想">
        </div>
        <div class="form-group">
            <label class="control-label col-md-1" for="">所在地区：</label>
            <ul class="col-md-11">
                <li ng-repeat="items in vm.searchOption.province" ng-class="{'active':items.choose}" ng-click="tag()">{{ items.name }}</li>
            </ul>
        </div>
        <div class="form-group">
            <label class="control-label col-md-1" for="">职位类别：</label>
            <ul class="col-md-11">
                <li ng-repeat="items in vm.searchOption.category" ng-class="{'active':items.choose}" ng-click="tag()">{{items.name }}</li>
            </ul>
            <ul class="col-md-11" ng-show="subhidde"   ng-repeat = "data in vm.searchOption.subCategory">
                <li  ng-if="subname-1 == $parent.$index " ng-class="{'active':subdata.choose}"  ng-repeat = "subdata in data.data"  ng-click="subtag(this)">{{subdata.choose}}{{subname}}{{subdata.name}} </li>
            </ul>
        </div>
        <button ng-click = "ss(vm.searchOption)">dssss</button>
    </form>
</div>