/* article管理页面 */
.m-article .input-group {
  margin-bottom: 20px;
}
/* 时间插件样式 */
.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
.input-group .input-group-addon.ui-bs {
  float: left;
  display: inline-table;
  padding: 9.5px 12px;
}
.input-group .form-control.ui-bs {
  border-radius: 0;
  width: 70%;
}
.input-group .btn.ui-bs {
  padding: 6.2px 15px;
}
.input-group select {
  max-width: 150px;
}
/* article新增页面 */
.m-articleadd .table-responsive {
  padding: 20px 30px;
}
.m-articleadd .m-companylist_city {
  margin: 15px;
}
.m-articleadd .f-rowfix {
  margin: 15px;
}
