.f-rowfix {
  margin: 20px 0 20px 20px;
}
.f-rowfix .form-control {
  width: 50%;
}
.m-companylist_city .form-control {
  width: 20%;
}
.m-companylist-wrap {
  padding: 20px;
  background-color: #f5f5f5;
}
.m-companylist_btngroup {
  float: right;
  margin: 0 20px 20px 0;
}
.m-companylist-text td,
.m-companylist-text th {
  text-align: center;
}
.m-companylist-text td {
  max-width: 180px;
  word-break: break-all;
  word-wrap: break-word;
}
.f-table_border {
  border: 1px solid #e8e8e8;
}
.m-company-textarea {
  min-width: 80%;
  min-height: 100px;
}
.m-edicompangy_taglist {
  display: inline-block;
  padding: 7px;
  background-color: #e8e8e8;
  margin-right: 5px;
}
.f-help {
  display: inline-block;
  color: red;
  font-size: 12px;
}
.m-joblist-time .input-group-btn,
.m-joblist-time div {
  display: inline-block;
}
.m-jobtable-width {
  font-size: 14px;
}
.m-joblist-cat .form-control {
  width: 20.6%;
}
.m-joblist-checkbox .label-info {
  display: inline-block;
  min-width: 75px;
  text-align: center;
  color: white;
  border-radius: 5px;
}
.m-joblist-panel {
  margin: 20px;
}
.m-joblist-panel label {
  vertical-align: top;
}
.m-joblist-panel textarea {
  height: 200px;
  white-space: nowrap;
}
.f-border-red {
  border: 1px solid red;
}
