/* 基础样式重置 */
body {
  background: #fff;
  font-family: "Microsoft YaHei";
  color: #2d3e50;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
}
ul {
  margin: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
a:hover {
  text-decoration: none;
}
/* 图片 */
.img-wrap img {
  max-width: 99%;
  max-height: 99%;
}
/* 布局样式 */
.container-fluid {
  max-width: 100%;
}
/* 分页插件样式从置 */
.pagination-sm > li > a {
  padding: 10px 15px;
}
/* 日期插件重置 */
/* 头部 */
.m-hd .navbar-default .navbar-brand {
  color: #000;
}
.m-hd .icon-login.down {
  color: #5cb85c;
  cursor: pointer;
}
.navbar {
  margin-bottom: 0;
}
/* 侧边导航 */
.m-nav {
  min-height: 100vh;
  background: #f5f5f5;
}
.m-nav .accordion-toggle {
  display: inline-block;
  width: 100%;
}
.m-nav .accordion-toggle {
  text-decoration: none;
  padding: 18px;
}
.m-nav .panel-group {
  border-radius: 0;
  margin: 0 -15px;
}
.m-nav .panel-group .panel + .panel {
  margin-top: 0;
}
.m-nav .panel-heading {
  padding: 0;
}
.m-nav .panel-title {
  padding: 0;
}
.m-nav .panel-body {
  padding: 0;
}
.m-nav .panel-body p {
  padding: 15px;
  margin: 0;
  cursor: pointer;
}
/* 主体 */
.m-bd {
  background: #fff;
  padding: 20px 15px;
}
/* 登陆页面 */
.m-login {
  width: 500px;
  margin: 200px auto 0;
}
.m-login .panel-body {
  padding: 30px;
}
.m-login .input-group {
  margin-bottom: 30px;
}
.m-login .btn-wrap {
  text-align: right;
}
/* 功能性类名 */
/* 绝对定位垂直水平居中 */
.f-abscenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.f-abscenterX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.f-abscenterY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
