/* 基础样式重置 */
body {
  background: #f5f5f5;
  font-family: "Microsoft YaHei";
  color: #2d3e50;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
}
ul {
  margin: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
/* 图片 */
.img-wrap img {
  max-width: 99%;
  max-height: 99%;
}
/* 布局样式 */
.container-fluid {
  max-width: 100%;
}
/* 分页插件样式从置 */
.pagination-sm > li > a {
  padding: 10px 15px;
}
/* 功能性类名 */
/* 绝对定位垂直水平居中 */
.f-abscenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.f-abscenterX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.f-abscenterY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
